@tailwind base;
@tailwind components;
@tailwind utilities;


/* Standard scrollbar styles */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  ::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0.1);
  }
  
  /* Firefox scrollbar styles */
  /* Note: The color properties are used for Firefox */
  /* You can customize the color values as needed */
  * {
    scrollbar-color: rgba(0, 0, 0, 0.2) hsla(0, 0%, 100%, 0.1);
    scrollbar-width: thin;
  }
  
  /* Microsoft Edge scrollbar styles */
  /* Note: The color properties are used for Edge */
  /* You can customize the color values as needed */
  * {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-color: rgba(0, 0, 0, 0.2) hsla(0, 0%, 100%, 0.1);
  }
  